@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>We are so glad you decided to join us!</h2>




<form asp-controller="users" asp-action="register" method="post">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName" />
            </div>
        </div>
    </div>
</form>